{% extends "base.html" %}

{% block titulo %} Lista De Periodos Academicos {% endblock %}

{% block contenido %}

<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="{% url 'crear_periodo' %}" role="button">Crear Un Nuevo Periodo</a>

        {% block buscador %}

        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
            method="POST">
            {% csrf_token %}
            <div class="input-group">
                <input type="text" class="form-control bg-light border-0 small" placeholder="Buscar..." name="buscar"
                    value="{{ request.POST.buscar }}">
                <div class="input-group-append">
                    <input class="btn btn-primary" type="submit" value="Buscar">
                </div>
            </div>
        </form>

        {% endblock buscador %}


    </div>
    <div class="card-body">

        <h4 class="card-title">Periodos</h4>

        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre Del Periodo</th>
                        <th scope="col">Fecha Inicio</th>
                        <th scope="col">Fecha Final</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for periodo in periodos %}
                    <tr class="">
                        <td>{{ periodo.id_periodo }}</td>
                        <td>{{ periodo.nombre_perido }}</td>
                        <td>{{ periodo.fecha_inicio }}</td>
                        <td>{{ periodo.fecha_final }}</td>

                        <td>
                            <a name="" id="" class="btn btn-info"
                                href="{% url 'editar_periodo' periodo.id_periodo %}" role="button">Editar</a>

                            <a name="" id="" class="btn btn-danger"
                                href="{% url 'eliminar_periodo' periodo.id_periodo %}" role="button">Borrar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>


    </div>
</div>

{% endblock %}