{% extends "base.html" %}

{% block titulo %} Lista de Docentes {% endblock %}

{% block contenido %}

<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="{% url 'crear_docente' %}" role="button">Agregar Un Nuevo Docente</a>

        {% block buscador %}

        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
            method="POST">
            {% csrf_token %}
            <div class="input-group">
                <input type="text" class="form-control bg-light border-0 small" placeholder="Buscar..." name="buscar"
                    value="{{ request.POST.buscar }}">
                <div class="input-group-append">
                    <input class="btn btn-primary" type="submit" value="Buscar">
                </div>
            </div>
        </form>

        {% endblock buscador %}


    </div>
    <div class="card-body">

        <h4 class="card-title">Docentes</h4>

        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Tipo Identificacion</th>
                        <th scope="col">Identificacion</th>
                        <th scope="col">Tipo Docente</th>
                        <th scope="col">Tipo Contrato</th>
                        <th scope="col">Area</th>
                        <th scope="col">Acciones</th>

                    </tr>
                </thead>
                <tbody>
                    {% for docente in docentes %}
                    <tr class="">
                        <td>{{ docente.id_docente }}</td>
                        <td>{{ docente.nombre_docente }}</td>
                        <td>{{ docente.apellido_docente }}</td>
                        <td>{{ docente.tipo_identificacion }}</td>
                        <td>{{ docente.identificacion_docente }}</td>
                        <td>{{ docente.tipo_docente }}</td>
                        <td>{{ docente.tipoContrato_docente }}</td>
                        <td>{{ docente.area_docente }}</td>
                        <td>
                            <a name="" id="" class="btn btn-info"
                                href="{% url 'editar_docente' docente.id_docente %}" role="button">Editar</a>

                            <a name="" id="" class="btn btn-danger"
                                href="{% url 'eliminar_docente' docente.id_docente %}" role="button">Borrar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>


    </div>
</div>

{% endblock %}